api/v1/Backup/n8n_workflow_disponibilidade_api.json
{
  "name": "Disponibilidade via API",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://consultoriopro.com.br/service/api/v1/schedules/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e877ba1c49319300be89bee57a9f11581c0b65c3326ddaf9121b414bafed5960"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-schedules",
      "name": "Buscar Horários (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "disponibilidade",
              "name": "disponibilidade",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-disponibilidade",
      "name": "Disponibilidade",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Buscar Horários (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários (API)": {
      "main": [
        [
          {
            "node": "Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
